---
interface Props {
  readonly size?: "sm" | "md" | "lg";
  readonly class?: string;
}

const { size = "md", class: className = "" } = Astro.props;

const sizeClasses = {
  sm: "w-36 h-72 md:w-44 md:h-[22rem]",
  md: "w-44 h-[22rem] md:w-52 md:h-[26rem]",
  lg: "w-56 h-[28rem] md:w-72 md:h-[36rem]",
};
---

<div
  class:list={[
    "phone-frame relative shrink-0 rounded-[2.25rem] bg-black p-2",
    sizeClasses[size],
    className,
  ]}
>
  {/* Side buttons */}
  <div
    class="absolute -left-0.75 top-20 h-8 w-0.75 rounded-l-md bg-neutral-700"
  >
  </div>
  <div
    class="absolute -left-0.75 top-32 h-12 w-0.75 rounded-l-md bg-neutral-700"
  >
  </div>
  <div
    class="absolute -right-0.75 top-28 h-14 w-0.75 rounded-r-md bg-neutral-700"
  >
  </div>

  {/* Inner bezel */}
  <div
    class="relative h-full w-full overflow-hidden rounded-[1.85rem] bg-neutral-950"
  >
    {/* Dynamic Island / Notch */}
    <div
      class="absolute left-1/2 top-3 z-20 h-5 w-20 -translate-x-1/2 rounded-full bg-black"
    >
    </div>

    {/* Screen content */}
    <div class="h-full w-full overflow-hidden">
      <slot />
    </div>
  </div>
</div>
